.panels-container {
    position: absolute;
    top: 30px;
    right: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 380px;
}

.panel {
    background-color: #F6F6F6;
    padding: 18px 20px;
    display: flex;
    flex-direction: column;
    border-radius: 25px;
    border: 2px solid #46464647;
}

.limit-inputs {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.limit-inputs input[type="number"] {
    margin-bottom: 4px;
}

label, .label {
    display: block;
    color: #464646;
    font-size: 18px;
    font-weight: 550;
    margin: 0 0 6px 7px;
}

input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    cursor: pointer;
}

input[type="text"], input[type="number"], select, .result-text {
    font-family: 'Inter', sans-serif;
    background-color: white;
    color: black;
    font-weight: 550;
    padding: 7px 12px;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: 0 0 8px 0;
}

#error {
    margin-bottom: 2px;
}

.has-unit {
    position: relative;
    padding-right: 30px;
}

.has-unit:after {
    content: url('/img/unit.svg');
    position: absolute;
    right: 8px;
}

#open-options-button {
    display: none;
    outline: none;
    background-color: #F6F6F6;
    color: black;
    border: 1px solid #46464647;
    padding: 10px;
    border-radius: 8px;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 14px;
    margin-bottom: 5px;
    cursor: pointer;
    align-self: end;
    margin-right: 5px;
}

.options.open {
    display: block;
}

@media screen and (max-width: 800px) {
    .panels-container {
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        width: 100%;
        pointer-events: none;
    }

    .panel {
        padding: 15px 15px;
        border-width: 1px;
        border-radius: 0;
        pointer-events: all;
    }

    .results-container {
        position: absolute;
        display: flex;
        flex-direction: column;
        width: 100%;
        bottom: 0;
        left: 0;
        right: 0;
    }

    .options {
        display: none;
    }

    #open-options-button {
        display: block;
        pointer-events: all;
    }

    #error {
        margin-bottom: 0;
    }

    label, .label {
        font-size: 16px;
    }

    input[type="text"], input[type="number"], select, .result-text {
        font-size: 16px;
    }
}